In [10]:
import pandas as pd
import numpy as np

my_table = pd.read_csv("dog_data_short.csv")
my_table

                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN             TACODA     15238
2        BELG MALINOIS      BRINDLE               EICH     15238
3                MIXED  BLACK/BROWN              ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5     SCOTTISH TERRIER        BLACK             BAILEY     15129
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7        DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238

In [11]:
# Remove column
my_table.drop("OwnerZip", axis=1, inplace=True)
my_table

                 Breed        Color            DogName
0             COCKAPOO        BROWN            CHARLEY
1         GER SHEPHERD  BLACK/BROWN             TACODA
2        BELG MALINOIS      BRINDLE               EICH
3                MIXED  BLACK/BROWN              ARROW
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY
5     SCOTTISH TERRIER        BLACK             BAILEY
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER
7        DACHSHUND MIX  WHITE/BROWN              LEROI
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS

In [13]:
# Remove row
my_table.drop(2, inplace=True)
my_table

                 Breed        Color            DogName
0             COCKAPOO        BROWN            CHARLEY
1         GER SHEPHERD  BLACK/BROWN             TACODA
3                MIXED  BLACK/BROWN              ARROW
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY
5     SCOTTISH TERRIER        BLACK             BAILEY
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER
7        DACHSHUND MIX  WHITE/BROWN              LEROI
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS